<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=ramyavempalla;AccountKey=hmImxFF7MhpjEKtQxD//fmuJC5kbYryOxcZauLOlZU3F4jpeERNYP37V/+xhBocr6FoHfV/mSG0KmfzNmX5Cmg==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <appSettings>
    <add key="Source" value="D:\UploadToBlob"/>
    <add key="Destination" value="azure-blob"/>
  </appSettings>
</configuration>